#newpost{
    width: 40%;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(4, 1fr);
    row-gap: 20px;
    padding: 20px;
    margin: 30px auto;
    border: 1px solid black;
    min-width: 300px;
}
.form-input{
    box-sizing: border-box;
    padding: 2px;
}
input[name='message']{
    grid-row: 1/2;
    grid-column: 1/5;
    min-width: none;
}
input[name='image']{
    display: none;
}
input[name='browse']{
    grid-row: 1/2;
    grid-column: 5/6;
    cursor: pointer;
}
input[name='title']{
    grid-row: 2/3;
    grid-column: 1/3;
}
input[name='location']{
    grid-row: 2/3;
    grid-column: 4/6;
}
input[name='description']{
    grid-row: 3/4;
    grid-column: 1/6;
}
#post-btn{
    grid-row: 4/5;
    grid-column: 5/6;
}
#discard-btn{
    grid-row: 4/5;
    grid-column: 1/2;
}
.preview{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.preview> img{
    width:200px;
}