.img-container{
    width: 50vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container> img{
    width: 100%;
}

.text{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text > h1{
    font-size: 3rem;
    background: linear-gradient(45deg, #f32170,
    #ff6b08, #cf23cf, #eedd44);
    color: transparent;
    background-clip: text;
    margin-bottom: 30px;
}

.text>h1>span{
    display: inline-block;
    background-image: url(../../../public/images/icons/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

/* .text>a {
    
} */
/* .text>a:hover{
    
} */

.container{
    display: flex;
    align-items: center;
}

.input-container{
    margin: 5px 0px;
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.input-container>label{
    display: inline-block;
    width: 40%;
}
.input-container>input{
    padding: 5px;
    box-sizing: border-box;
}
.form-container{
    width: 50%;
    margin: 0 auto;
}
.login{
    text-decoration: none;
    font-size: 1rem;
    padding:10px 20px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0;
}
.login:hover{
    background-color: darkblue;
    color: white;
}

.show-password, .hide-password{
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
}
.show-password{
    background-image: url(../../../public/images/icons/show.png);
}
.hide-password{
    background-image: url(../../../public/images/icons/eye.png);
}
.red{
    color: red;
}